@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  --shadow: rgba(0, 0, 0, 0.05) 0px 6px 10px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
  --color: #166e67;
  --gap: 0.5rem;
  --radius: 5px;
}
body {
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 1px;
  background-color: #16192b;
  opacity: 1;
  background-image: linear-gradient(
      30deg,
      #0c1022 12%,
      transparent 12.5%,
      transparent 87%,
      #0c1022 87.5%,
      #0c1022
    ),
    linear-gradient(
      150deg,
      #0c1022 12%,
      transparent 12.5%,
      transparent 87%,
      #0c1022 87.5%,
      #0c1022
    ),
    linear-gradient(
      30deg,
      #0c1022 12%,
      transparent 12.5%,
      transparent 87%,
      #0c1022 87.5%,
      #0c1022
    ),
    linear-gradient(
      150deg,
      #0c1022 12%,
      transparent 12.5%,
      transparent 87%,
      #0c1022 87.5%,
      #0c1022
    ),
    linear-gradient(
      60deg,
      #0c102277 25%,
      transparent 25.5%,
      transparent 75%,
      #0c102277 75%,
      #0c102277
    ),
    linear-gradient(
      60deg,
      #0c102277 25%,
      transparent 25.5%,
      transparent 75%,
      #0c102277 75%,
      #0c102277
    );
  background-size: 46px 81px;
  background-position: 0 0, 0 0, 23px 40px, 23px 40px, 0 0, 23px 40px;
}

h1 {
  font-size: 30px;
  font-weight: 900;
  padding: 2px;
}

h2 {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
  color:#00ccff;
}

.login_form_container {
  position: relative;
  width: 500px;
  height: 470px;
  max-width: 400px;
  max-height: 470px;
  background: #040717;
  border-radius: 50px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-top: 70px;
}
.login_form_container::before {
  position: absolute;
  width: 170%;
  height: 170%;
  content: "";
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #ee00ff
  );
  animation: rotate_border 6s linear infinite;
}
.login_form_container::after {
  position: absolute;
  width: 170%;
  height: 170%;
  content: "";
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #00ccff
  );
  animation: rotate_border 6s linear infinite;
  animation-delay: -3s;
}
@keyframes rotate_border {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.login_form {
  position: absolute;
  content: "";
  background-color: #0c1022;
  border-radius: 50px 5px;
  inset: 5px;
  padding: 50px 40px;
  z-index: 10;
  color: #00ccff;
  overflow: hidden;
}

.input_group {
  margin-top: 35px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
}

.input_text {
  width: 95%;
  height: 30px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #00ccff;
  font-size: 20px;
  padding-left: 10px;
  color: #00ccff;
}
::placeholder {
  font-size: 15px;
  color: #00ccff52;
  letter-spacing: 1px;
}
.fa {
  font-size: 20px;
}
#login_button {
  position: relative;
  width: 300px;
  height: 40px;
  transition: 1s;
  margin-top: 50px;
}

#login_button button {
  position: absolute;
  width: 100%;
  height: 100%;
  text-decoration: none;
  z-index: 10;
  cursor: pointer;
  font-size: 22px;
  letter-spacing: 2px;
  border: 1px solid #00ccff;
  border-radius: 50px;
  background-color: #0c1022;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00ccff;
}
.fotter {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  color: #00ccff;
}
.fotter a {
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  color: inherit;
}
.glowIcon {
  text-shadow: 0 0 10px #00ccff;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #16192b;
  opacity: 1;
  background-image: linear-gradient(135deg, #0c1022 25%, transparent 25%),
    linear-gradient(225deg, #0c1022 25%, transparent 25%),
    linear-gradient(45deg, #0c1022 25%, transparent 25%),
    linear-gradient(315deg, #0c1022 25%, #16192b 25%);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  border: 5px solid #00ccff;
  border-radius: 5px;
}

.sidebar a {
  text-decoration: none;
  font-size: 21px;
  color: #ffffff;
  display: flex;
  transition: 0.1s;
  padding: 15px 0px 10px 30px;
}

.sidebar a:hover {
  color: #ee00ffa1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #0c1022;
  opacity: 1;
  background-color: #0c1022;
  opacity: 1;
  color: white;
  padding: 15px 20px;
  border: none;
}

.openbtn:hover {
  background-color: #ee00ff32;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

.array-container {
  max-height: 300px; /* Set the maximum height of the table container */
  overflow-y: scroll; /* Enable vertical scrolling */
}

.array {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.array td, th {
  font-size: 20px;
  font-weight: 600;
  border: 1px solid #dddddd;
  border-radius: 5px;
  text-align: left;
  padding: 7px;
}

.array th {
  background-color: #0c1022;
  color: white;
}

.array tr:nth-child(even) {
  background-color: #dddddd;
}

